@font-face {
    font-family: 'DashDemo';
    src: url('../assets/fonts/Dashdemo-ozJA.ttf') format('truetype');
}

:root {
    --primario: #333;
    --secundario: #fff;
    --terciario: yellow;

    --fuentePrincipal: 'DashDemo', Arial, sans-serif
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--fuentePrincipal);
    margin: 0;
    padding: 0;
    background-color: var(--primario);
    color: var(--secundario);
    font-size: 1rem;
    width: 100%;
}

/*  Estilos para el header */

nav {
    
    background-color: var(--secundario);
    color: var(--primario);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    height: 10vh;
}

.logo img {
    height: 10vh; 
}

.menu {
    list-style: none;
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
}

.menu li {
    margin-right:0 1.5rem;
    padding: 1rem;

}

.menu a {
    text-decoration: none;
    color: var(--primario);
    font-size: 2rem;
    cursor: pointer;
}

/*.menu a:hover {
    color: ;  
} */

.form-container {
    width: 60%; /* Ajusta el ancho según tus preferencias */
    margin: 5vh auto; /* Centrado vertical y horizontal */
    padding: 20px; /* Añade un poco de espacio interno */
    background-color: black;
    color: white;
    border-radius: 5px;
    box-shadow: 10px 5px 5px black;
}

.form-container h2{
    text-align: center;
    padding: 15px;
    font-size: 2rem;
    font-family: var(--fuentePrincipal);
    color: var(--terciario);
    
}

.form{
    
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    
    
    
    
}

.form input{
   
    border: solid 1px white;
    background-color: grey;
    color: white;
    border-radius: 5px;
    height: 5vh;
    width: 100%;
    padding: 15px;
    margin-bottom: 5px;
    
}
 input::placeholder{
    color: white;

 }

 textarea::placeholder{
    color: white;
    
 }

.form label{
    text-align: center;
}

.form textarea{
    border: solid 1px white;
    background-color: grey;
    color: white;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 15px;
}

.form input:hover,
.form textarea:hover {
    cursor: pointer; 
}

#btn{
    width: 50%;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    background-color: var(--primario);
    color: var(--secundario);
    border: solid 1px var(--secundario);
    cursor: pointer;
    font-size: 1rem;
    cursor: pointer;
    
}

#btn:hover {
    background-color: var(--secundario);
    color: var(--primario);
}

li{
    color: red;
}

.dark-mode {
    background-color: var(--secundario);
    color: var(--primario);
}

.dark-mode-form {
    background-color: var(--primario);
    color: var(--secundario);
}

footer {
    background-color: var(--secundario);
    color: var(--primario);
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .form-container {
        width: 60%;
    }
}