@font-face {
    font-family: 'DashDemo';
    src: url('../assets/fonts/Dashdemo-ozJA.ttf') format('truetype');
}

:root {
    --primario: #333;
    --secundario: #fff;
    --terciario: yellow;

    --fuentePrincipal: 'DashDemo', Arial, sans-serif
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--fuentePrincipal);
    margin: 0;
    padding: 0;
    background-color: var(--primario);
    color: var(--secundario);
    font-size: 1rem;
    width: 100%;
}

/*  Estilos para el header */

nav {
    
    background-color: var(--secundario);
    color: var(--primario);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    height: 10vh;
}

.logo img {
    height: 10vh; 
}

.menu {
    list-style: none;
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
}

.menu li {
    margin-right:0 1.5rem;
    padding: 1rem;

}

.menu a {
    text-decoration: none;
    color: var(--primario);
    font-size: 2rem;
    cursor: pointer;
}

/*.menu a:hover {
    color: ;  
} */

/* Estilos para el video */
.video {
    position: relative;
    max-height: 100rem;
    min-height: 50rem;
    height: 60vh;
    width: 100%;
    margin: 0 auto;
    margin-top: .5rem;
    cursor: pointer;

}

.video .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,0.6110819327731092) 0%, rgba(255,252,0,0.37298669467787116) 50%, rgba(0,0,0,0.6110819327731092) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.video .overlay h2 {
    font-size: 15rem;
    margin-bottom: 1rem;
    color: var(--terciario);
}

.video .overlay p {
    font-size: 5rem;
    color: var(--secundario);
}

.video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 100rem;
    min-height: 50rem;
}

.container-video{
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    width: 100%;
    padding: 0 2rem;
    max-width: 100rem;
    margin: 0 auto;
}

/* Estilos para cards*/
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    padding: 2rem;
}



.card {
    text-align: center;
    border: 1px solid #ddd;
    padding: 1.5rem;
    margin: 1rem;
    flex: 1;
}

.card h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--terciario);
}

.card img {
    width: 100%;
    min-height: 150px;
    max-height: 300px;
    object-fit: cover; 
    margin-bottom: 1rem;

}

.card button {
    padding: 0.5rem 1rem;
    background-color: var(--primario);
    color: var(--secundario);
    border: solid 1px var(--secundario);
    cursor: pointer;
    font-size: 1rem;
    cursor: pointer;
}

.card button:hover {
    background-color: var(--secundario);
    color: var(--primario);
    cursor: pointer;
}

/* Estilos para el footer */

footer {
    background-color: var(--secundario);
    color: var(--primario);
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Estilos para el carrusel */

.carousel {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
}
#imagen {
    width: 100%;
    height: 400px;
    background-size: cover;
}


/* Media Querys */

@media screen and (max-width: 600px) {
    .hero {
        
        clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    }
}

@media screen and (max-width: 400px) {
    .hero {
        /* Adjust the clip path for screens up to 400px if needed */
        clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
    }
}

@media (min-width: 768px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
}